# Python bytecode and cache directories
__pycache__/
*.pyc
*.pyo
*.pyd

# Operating system metadata files
.DS_Store
Thumbs.db

# VS Code environment settings (optional)
.vscode/
Output/
squirrel_count.csv
states_to_learn.csv